* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--whiteish);
  color: var(--dark-grey);
}

:root {
  --wheat: wheat;
  --dark-grey: #403636;
  --navy: rgb(48, 48, 139);
  --none: rgba(76, 175, 80, 0.0);
  --whiteish: #fbf9f4;

}

@font-face {
  font-family: 'headTurner';
  src: url('../assets/fonts/Head-Turner.woff') format('woff');
  font-weight: normal;
}



.block-link {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 99;
}

.module__item__image {
  width: 100%;
  opacity: 1;
  backface-visibility: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#module-image {
width: 50%;
    height: 50%;
    display: flex;
    position: relative;
}

.link-with-arrow {
  text-decoration: none;
}

.link-with-arrow:hover {
  text-decoration: none;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--whiteish),
    0 0 82px var(--whiteish),
    0 0 92px var(--whiteish),
    0 0 102px var(--whiteish),
    0 0 151px var(--whiteish);
}

.module__item__text {
  text-align: center;
  position: absolute;
  font-size: large;
  font-family: 'headTurner', sans-serif;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  padding: 80px 20px;
  letter-spacing: 4px;
  transform: translateY(-50%) translate(-50%);
}

